@import _variables
@import _mixins

.section-submit
  +block-pad($pd--xl)
  position: relative
  animation: formEnter $tr--f both
  // To contain loader

  .header + &
    border-top: 1px solid $co--blue-grey--tt


.header-submit
  +header-default

  > .title
    font-size: $fs--m

  > .subtitle
    color: $co--blue-grey
    font-size: $fs--t

.loader
  &.-submit
    position: absolute
    right: -5%
    left: -5%
    width: auto
    height: 100%
    transition: opacity $tr--m, visibility $tr--m

    &.-loading
      pointer-events: all
      opacity: 0.8

.form-submit
  $spacing: $pd--s
  margin: $spacing / -2

  input,
  textarea
    color: $co--blue-grey--md
    width: 100%
    padding-top: $pd--s
    padding-bottom: $pd--s
    resize: none
    &::-webkit-input-placeholder
      color: inherit

  textarea
    height: 200px
    line-height: $lh--xl

  > .name,
  > .email,
  > .comment
    font-size: $fs--xxs
    padding: $spacing / 2

  > .name
    display: inline-block
    width: 33%

  > .email
    display: inline-block
    width: 67%

  > .comment
    display: block
    width: 100%

  > .submit
    display: block
    padding: $spacing / 2


@keyframes formEnter
  0%
    transform: translate3d(50px,0,0)
    opacity: 0

  100%
    transform: translate3d(0,0,0)
    opacity: 1
