@import tools

.article-newsitem
  width: 100%
  color: $co--wt
  margin: 0 auto

  > .wysiwyg
    +ff--base
    line-height: $lh--lg
    margin-top: $pd--s
    opacity: 0.9

    a
      color: $co--brightyellow

  > .link
    display: block
    margin-top: $pd--s
    text-decoration: none
    color: $co--brightyellow

    &:hover
      text-decoration: underline

.header-newsitem
  border-bottom: 1px solid transparentize($co--wt, 0.7)

  .title
    +header-default
    color: $co--wt
    font-size: $fs--m

@media screen and (min-width: $bp--mn)
  .article-newsitem
    max-width: $sz--s

  .header-newsitem
    .title
      text-align: left
      font-size: $fs--lm
