@import tools

.footer-cite
  .fn
    &::after
      content: ', '

  .co
    display: block

  .main-tile &
    font-size: $fs--xs
    margin-top: 0.5em

    .co
      color: $co--brightyellow

  .main-quote &
    margin-top: 1em
    color: $co--brightyellow
    font-size: $fs--ss

@media screen and (min-width: $bp--mn)
  .footer-cite
    .main-tile &
      font-size: $fs--m

    .main-quote &
      font-size: $fs--mml
