@import tools

.section-quotes
  > .container
    +cont--xl
    +block-pad
    min-height: 50vh
    display: flex
    align-items: center
    justify-content: center

  > .section-background
    ._bgcol
      background-color: $co--green
