@import _tools

.loader
  position: fixed
  top: 0
  left: 0
  display: flex
  visibility: hidden
  align-items: center
  justify-content: center
  width: 100vw
  height: 100vh
  transition: opacity $tr--m, visibility $tr--m
  pointer-events: none
  opacity: 0
  background-color: $co--blue--md
  z-index: 1000
  color: $co--wt

  &.-loading
    pointer-events: auto
    visibility: visible
    transition: none
    opacity: 0.97

  > .i
    width: 100px
    height: 100px

#fans
  transition: visibility $tr--xs
  transform-origin: center
  animation: spin 5s infinite forwards cubic-bezier(0.1, 0.7, 1.0, 0.1)

  .-loading &
    transition: none


@keyframes spin
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(3600deg)
