@import _variables
@import _mixins

$ctrlminwidth: 200px
$ctrlwidth: 27.78%

.section-prodmods
  +block-pad
  background-color: $co--blue--md

.content-prodmods
  +cont--xl
  display: flex
  align-items: center

  > .list-screenshot
    flex: none
    width: 34%
    margin: -100px 0 0

.side-prodmods
  flex: 0 0 $ctrlwidth
  align-self: flex-start
  width: $ctrlwidth
  min-width: $ctrlminwidth

  > .title
    +header-default
    font-size: $fs--ml
    padding: 0 $pd--ml 0 $pd--m
    word-wrap: break-word
    color: $co--bk

.control-prodmods
  +input-reset
  +heading-spaced
  font-size: $fs--xs
  line-height: $lh--lg
  position: relative
  z-index: $z--base
  display: block
  width: 100%
  height: 100%
  padding: 0.4rem $pd--xl 0.4rem $pd--m
  cursor: pointer
  text-align: left
  color: $co--blue-grey--tt
  background-color: transparent

  &:hover
    color: $co--brightyellow

  &::before
    +pseudoscreen
    z-index: $z--under
    transition: transform $tr--f
    transform: scale3d(1,0,1)
    transform-origin: top
    background: linear-gradient(to right, transparentize($co--blue--dk, 0.6) 0%, transparentize($co--blue--dk, 1) 100%)

  &.-active,
  &:focus
    color: $co--wt
    outline: none

    &::before
      transform: scale3d(1,1,1)

.list-prodmod
  display: flex
  overflow: hidden
  align-items: center
  width: 100%
  padding-left: $pd--ml

.content-prodmod
  position: relative
  visibility: hidden
  flex: none
  width: 100%
  transition: transform $tr--m, opacity $tr--m, visibility $tr--m
  transform: translate3d(0, 0, 0)
  opacity: 0
  color: $co--wt

  &.-active
    visibility: visible
    transform: translate3d(-100%, 0, 0)
    opacity: 1

  > .title
    +header-default
    +heading-spaced
    display: block

  > .wysiwyg
    +wysiwyg-default(inherit, inherit)
    line-height: $lh--xl
