body#tinymce.wp-editor {
  max-width: 700px;
}

body#tinymce.wp-editor {
  font-family: Georgia, Times, Courier, serif;
  font-size: 1rem;
  overflow: hidden;
  width: 100%;
}

body#tinymce.wp-editor> :first-child {
  margin-top: 0;
}

body#tinymce.wp-editor h1, body#tinymce.wp-editor h2, body#tinymce.wp-editor h3, body#tinymce.wp-editor h4, body#tinymce.wp-editor h5, body#tinymce.wp-editor h6 {
  margin: 1rem 0;
}

body#tinymce.wp-editor h1:first-child, body#tinymce.wp-editor h2:first-child, body#tinymce.wp-editor h3:first-child, body#tinymce.wp-editor h4:first-child, body#tinymce.wp-editor h5:first-child, body#tinymce.wp-editor h6:first-child {
  margin-top: 0 !important;
}

body#tinymce.wp-editor h1:last-child, body#tinymce.wp-editor h2:last-child, body#tinymce.wp-editor h3:last-child, body#tinymce.wp-editor h4:last-child, body#tinymce.wp-editor h5:last-child, body#tinymce.wp-editor h6:last-child {
  margin-bottom: 0 !important;
}

body#tinymce.wp-editor p {
  margin: 1.5rem 0;
}

body#tinymce.wp-editor p:first-child {
  margin-top: 0 !important;
}

body#tinymce.wp-editor p:last-child {
  margin-bottom: 0 !important;
}

body#tinymce.wp-editor a {
  text-decoration: none;
  color: #0092c0;
}

body#tinymce.wp-editor figure,
body#tinymce.wp-editor img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

body#tinymce.wp-editor iframe {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

body#tinymce.wp-editor iframe[src^="https://www.youtube"] {
  max-height: 40vw;
}

body#tinymce.wp-editor figure {
  width: 100% !important;
  border: 1px solid #eaebf0;
}

body#tinymce.wp-editor figcaption {
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.65em;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  background-color: #eaebf0;
}

body#tinymce.wp-editor ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

body#tinymce.wp-editor ul li {
  padding: 0.5rem 0;
}

body#tinymce.wp-editor ul>li {
  margin-left: 1rem;
}

body#tinymce.wp-editor ul>li::before {
  content: '\BB';
  position: absolute;
  left: 0;
}

body#tinymce.wp-editor ul>li ul>li {
  font-weight: 300;
}

body#tinymce.wp-editor ul>li ul>li::before {
  content: '\2022';
}

body#tinymce.wp-editor ol {
  padding-left: 1.5em;
  list-style: decimal;
}

body#tinymce.wp-editor>div ul:first-child li:first-child {
  padding-top: 0;
}

body#tinymce.wp-editor>div ul:last-child li:last-child {
  padding-bottom: 0;
}

body#tinymce.wp-editor>.more {
  display: block;
  margin-top: 1rem;
}

body#tinymce.wp-editor blockquote {
  font-style: italic;
  line-height: 1.4;
  margin: 0.75rem;
  padding-left: 1.25rem;
  quotes: none;
  color: #5b6b84;
  border: 0 solid #0092c0;
  border-left-width: 2px;
}

body#tinymce.wp-editor blockquote p:first-child {
  margin-top: 0;
}

body#tinymce.wp-editor blockquote p:last-child {
  margin-bottom: 0;
}

body#tinymce.wp-editor .twitter-tweet {
  width: 100% !important;
  max-width: 520px !important;
  margin-right: auto;
  margin-left: auto;
}

body#tinymce.wp-editor .question {
  color: #315d91;
}

body#tinymce.wp-editor .number {
  font-size: 3em;
  display: block;
}

body#tinymce.wp-editor .emph {
  display: block;
  text-transform: uppercase;
}
