@import _variables
@import _mixins

$dashboardImageRatio: 60.5vw

.content-imagebanner
  +cont--xxl--nopad
  position: relative
  z-index: $z--under
  padding: 0

  > ._bgimg
    position: static
    height: $dashboardImageRatio / 2

    &:first-child
      background-position: left top

    &:last-child
      background-position: left bottom

.block-strip
  background-color: #ccccd8

.article-strip
  +cont--l
  +article-default
  background-color: #ccccd8

  > .title
    +header-default
    font-size: $fs--ml
    text-align: center
    color: $co--bk

  > .wysiwyg
    +wysiwyg-default($ff: inherit)
    line-height: $lh--xl
    color: $co--logo--blue-dk

@media screen and (min-width: $bp--mn)
  .content-imagebanner
    > ._bgimg
      height: auto

      &:first-child

      &:last-child
        display: none

      img
        position: static
        clip: auto
        width: 100%
        height: auto
        margin: 0
        box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.5)

  .block-strip
    position: absolute
    top: 50%
    left: 0
    width: 100%
    transform: translateY(-50%)

  .article-strip
    flex-direction: row

    > .title
      max-width: 30%
      text-align: left

    > .wysiwyg
      padding-left: $pd--l
