@import _tools

.i.-comversational-diagram
  $ls: 0.05em
  $fs-l: 46px
  $fs-m: 35px
  $fs-s: 25px

  width: 100%
  height: auto
  text-transform: uppercase

  .frame
    opacity: 0.5

  .label
    +ff--feature
    stroke: none!important
    font-size: $fs-s
    letter-spacing: $ls
    text-transform: uppercase
    -webkit-font-smoothing: antialiased

    &.-large
      font-size: $fs-l

    body.ff--feature &
      font-size: $fs-m


  .sublabel
    +ff--base
    stroke: none!important
    -webkit-font-smoothing: antialiased
    font-size: $fs-s
    font-weight: 300
    letter-spacing: $ls
    text-transform: uppercase

    &.-large
      font-size: 31px

    &.-main
      color: $co--yelgreen--lt
      fill: $co--yelgreen--lt

  .blue-dk
    color: $co--blue--dk
    fill: $co--blue--dk

  .blue-md
    color: $co--blue--md
    fill: $co--blue--md

  .green
    color: $co--green
    fill: $co--green

  .white
    color: $co--wt
    fill: $co--wt
    stroke: $co--wt
