@import _tools

$ls: 0.05em
$fs-l: 46px
$fs-m: 35px
$fs-s: 25px

.i.-comversational-diagram,
.i.-travelpaas-diagram
  height: auto
  text-transform: uppercase
  -webkit-font-smoothing: antialiased
  stroke: none

  .frame
    opacity: 0.5
    stroke: $co--wt
    stroke-width: 2
    fill: none

    &.-filled
      fill: $co--wt
      opacity: 1

  .icons
    fill: $co--wt

  .label
    +ff--feature
    font-size: $fs-s
    letter-spacing: $ls
    fill: $co--wt

    .-large
      font-size: $fs-l

    &.-inverse
      text-transform: none
      fill: $co--blue--md

    body.ff--feature &
      font-size: $fs-m

  .heading,
  .sublabel
    +ff--base
    letter-spacing: $ls
    font-size: $fs-s
    font-weight: 300

  .heading
    fill: $co--yelgreen--lt

  .sublabel
    .-large
      font-size: 31px

  .blue-dk
    fill: $co--blue--dk

  .blue-md
    fill: $co--blue--md

  .blue-lt
    fill: #5D89AF

  .green
    fill: $co--green

.i.-travelpaas-diagram
  .label
    font-size: $fs-m
