@import _variables
@import _mixins

.product-list
  +cont--xl
  +columns(2, $pd--xl)

.article-product
  +article-block

.header-products
  +header-default

  > .title
    +heading-light
    +heading-spaced
    // letter-spacing: $ls--w
    color: $co--green

.header-product
  +header-default

  > .title
    font-size: $fs--xh
    color: $co--bk

.wysiwyg-products
  +wysiwyg-default($ff--base, $fs--h)
  font-weight: 300
  line-height: $lh--ml
  color: $co--bk

.wysiwyg-product
  +wysiwyg-default
