@import _variables
@import _mixins

.article-products
  +article-default

.header-products
  +header-default

  > .title
    +heading-light
    +heading-spaced
    // letter-spacing: $ls--w
    color: $co--green

.list-product
  +cont--xl
  +columns(2, $pd--xl)

  > .item
    position: relative

.article-product
  +article-default

  > .wysiwyg
    +wysiwyg-default


.header-product
  +header-default

  > .title
    font-size: $fs--xh
    color: $co--bk
