@import tools

%link-menu
  +ff--nav
  +heading-spaced
  font-size: $fs--xs
  display: block
  padding: $pd--l
  text-align: center
  text-decoration: none
  border-bottom: 1px solid transparentize($co--wt, 0.7)

  @media screen and (min-width: $bp--nv)
    padding: 0
    border: 0

.main-menu
  align-self: stretch
  height: 100%

.list-menu
  position: fixed
  top: $ht-header--mb
  left: 0
  align-items: stretch
  width: 100vw
  height: 100%
  transition: transform $tr--f
  transform: translateX(100%)
  background-color: $co--blue-grey--tt

  #toggle-menu:checked ~ &
    transform: translateX(0)

.link-menu
  @extend %link-menu
  color: $co--blue--dk

  &.-active
    color: $co--green

.main-submenu
  background-color: $co--green

  > .container
    +clearfix

.link-submenu
  @extend %link-menu
  line-height: 0
  visibility: hidden
  overflow: hidden
  max-height: 0
  padding: 0
  transition: all 0s
  transition-delay: ($t--f + 100ms)
  color: $co--wt
  border: 0

  &.-active
    color: $co--brightyellow

  .link-menu.-active + .main-submenu &
    line-height: inherit
    visibility: visible
    max-height: 100vh
    padding: $pd--m
    border-bottom: 1px solid transparentize($co--wt, 0.7)

@media screen and (min-width: $bp--nv)
  .list-menu
    +inline-children-item(0)
    position: relative
    top: auto
    width: auto
    transform: none!important
    // Guard against if toggle is checked and screen is resized
    background: none

    > .item
      position: relative
      display: flex
      align-items: center
      height: 100%

  .link-menu
    &.-hassub
      &::after
        +caret($co--green)
        transition: opacity $tr--f
        opacity: 0

      &.-active
        &::after
          opacity: 1

  .main-submenu
    +shadowborder($co--green)
    position: fixed
    z-index: $z--sub
    top: $ht-header--dt
    left: 0
    width: 100%
    padding: $pd--s
    transition: transform $tr--f, opacity $tr--f
    transform: translateY(-130%)
    opacity: 0.01

    > .container
      +cont--xl

    .link-menu.-active + &
      opacity: 1
      transform: translateY(0)

  .list-submenu
    +inline-children-item
    float: right

  .link-submenu
    padding: 0!important
    border: 0!important
    transition: none!important
