@import _variables
@import _mixins

.block-info
  background-color: $co--tint
  padding: $pd--s $pd--l
  color: $co--blue-grey
  font-size: $fs--xxs
  line-height: $lh--xxl

  > .author
    display: block
