@import _tools

.list-insta
  +clearfix
  margin-top: $pd--s
  margin-bottom: $pd--block

  > .item
    width: 50%
    position: relative
    float: left

    &::after
      content: ' '
      display: block
      padding-top: 100%

.link-insta
  +stretch
  +hover-scale
  padding: $pd--xxs

  > .i.-instagram
    color: $co--wt
    width: 1em
    height: 1em
