@import tools

.main-author
  +post-padding
  +has-avatar
  padding-top: $pd--l
  padding-bottom: $pd--l
  position: relative
  background-color: $co--wt

  &::before
    content: ' '
    display: block
    position: absolute
    width: 100%
    border-bottom: 1px solid $co--tint
    top: 0
    left: 0
    transform: scale(0.5)

  > .avatar
    width: 22.5%
    max-width: 100px
    border-radius: 50%

.article-author
  > .wysiwyg
    font-size: $fs--xs
    font-weight: 300
    line-height: $lh--xl

.header-author
  +header-default

  .title
    font-size: $fs--xxs
    font-weight: 700

@media screen and (min-width: $bp--mn)
  .header-author
    .title
      font-size: $fs--ms

  .article-author
    > .wysiwyg
      font-size: inherit
