@import _variables
@import _mixins

.article-block
  position: relative
  display: flex
  flex-direction: column
  align-items: flex-start
  width: 100%
  height: 100%
  padding: $pd--l

  &.-boxed
    background-color: transparentize($co--wt, 0.15)
