@import tools

svg
  display: block


.i
  &.-comversational
    width: 292px
    height: auto

  &.-travelpaas
    width: 252px
    height: auto

  &.-messenger
    color: $co--messenger

@media screen and (min-width: $bp--mn)
  .i
    &.-comversational
      width: 415px

    &.-travelpaas
      width: 358px
