@import _variables
@import _mixins

.section-hero
  +bg-cover
  display: flex
  flex-direction: row
  // To fix IE flex bug on min-height / flex direction column
  padding: 0

.content-hero
  +cont--m
  +center-box
  +block-pad
  min-height: 64vh
  color: $co--wt

  > .title
    +heading-spaced
    font-size: $fs--xl
    line-height: 1.75
    width: 100%
    margin-bottom: 1.05em
    text-align: center
    color: $co--wt

    strong
      font-family: $ff--feature
      font-size: $fs--j
      font-weight: 400
      line-height: 0.8
      position: relative
      top: -0.105em
      display: block
      letter-spacing: normal

    > .i
      display: block
      margin: 0 auto

  > .wysiwyg
    +wysiwyg-default($fs: $fs--l)

  &.-fullscreen
    min-height: 100vh
