@import _variables
@import _mixins

.hero-section
  +bg-cover
  display: flex
  flex-direction: row
  // To fix IE flex bug on min-height / flex direction column
  padding: 0

.content-hero
  +cont--m
  +center-box
  min-height: 64vh
  padding-top: $pd--block
  padding-bottom: $pd--block
  color: $co--wt

  > .header
    font-size: $fs--xl
    line-height: 1.75
    margin-bottom: 1.05em
    text-align: center
    letter-spacing: $ls--w
    text-transform: uppercase
    color: $co--wt

    strong
      font-family: $ff--feature
      font-size: $fs--j
      font-weight: 400
      position: relative
      top: -0.105em
      display: block
      letter-spacing: normal
      line-height: 0.8

    > .i
      display: block
      width: 100%
      height: auto

  &.-fullscreen
    min-height: 100vh


.wysiwyg-hero
  +wysiwyg-block
