.section--hero
  flex-direction: row
  padding: 0
  // To fix IE flex bug on min-height / direction column

  > div:first-child
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    min-height: 100vh
    padding-top: $pd--block
    padding-bottom: $pd--block

  h1
    letter-spacing: $ls--w
    font-size: $fs--xl
    text-align: center

    strong
      position: relative
      font-weight: 400
      font-family: $ff--feature
      font-size: $fs--j
      display: block
      letter-spacing: normal
      top: -0.085em

  &:first-of-type
    .wysiwyg
      p
        margin: 0 auto
        text-align: center
        max-width: $sz--s
