@import tools

.section-countries
  z-index: $z--top

  > .section-background
    ._bgcol
      background-color: $co--green

  > .container
    +cont--xl
    +block-pad

.main-countries
  > .title
    font-size: $fs--xs
    color: $co--wt
    text-align: center
    max-width: 14em
    margin: 0 auto $pd--l

  > .image
    padding: 0 50px
    order: 3

  > .list-countries
    order: 1

.list-countries
  +block-pad
  position: absolute
  top: 0
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between

  > .item
    width: 16px

    img
      display: block
      width: 100%
      height: auto

@media screen and (min-width: $bp--mn)
  .main-countries
    display: flex
    align-items: center
    justify-content: space-between

    > .title
      font-size: $fs--xl
      order: 2
      padding-left: 1em
      text-align: left
      margin-bottom: 0

    > .list-countries
      padding: 0
      position: static
      margin: ($pd--v / -1) 0 ($pd--v / -1 - 2rem)

      > .item
        width: 33px
        
        + .item
          margin-top: 1em

    > .image
      width: 50%
      margin: ($pd--v / -1 - 2rem) 0 ($pd--v / -1)
