@import _variables
@import _mixins

.mosaic
  padding: 0

  ul
    display: flex
    flex-wrap: wrap
    width: 100%

  li
    +bg-cover
    line-height: $lh--m
    position: relative
    display: flex
    flex: 1 1 220px
    height: 320px
    padding: $pd--l

    &:nth-child(4n)
      flex: 1 1 440px

    &:nth-child(6n)
      flex: 2 2 560px

    a
      display: block
      width: 100%
      text-decoration: none
      color: inherit

    cite
      font-size: $fs--m

    &.tile--teal
      background: $co--teal

    &.tile--yellowgreen
      background-color: $co--yelgreen

    &.tile--blue
      background: $co--blue

  svg.i
    display: block
    width: 1.667em
    height: 1.667em
    margin-bottom: $pd--s

.tile__content
  font-size: $fs--ml
  font-weight: 700
  display: block

.tile--instagram
  flex: 1 0 320px
  min-width: 320px
  // To maintain aspect ratio for instagram

  span
    +sr-only

.quote__fn
  &::after
    content: ', '

.quote__pos

.quote__co
  display: block
  color: $co--highlight

@media (min-width: 640px)
  li.tile--instagram
    max-width: 320px

@media (min-width: 1200px)
  .mosaic
    li
      max-width: 50%

  li.tile--instagram
    max-width: 320px
