.mosaic
  ul
    display: flex
    flex-wrap: wrap
    width: 100%

  li
    +bg-cover
    position: relative
    display: flex
    height: 320px
    flex: 1 1 220px

    &:nth-child(4n)
      flex: 1 1 440px

    &:nth-child(6n)
      flex: 2 2 560px

    a
      display: block
      width: 100%
      color: inherit
      text-decoration: none

    img
      +sr-only

    &.tile--teal
      background: $co--teal

    &.tile--yellowgreen
      background-color: $co--yelgreen

    &.tile--blue
      background: $co--blue

  svg.i
    display: block
    width: 2em
    height: 2em

.tile--instagram
  flex: 1 0 320px
  min-width: 320px
  // To maintain aspect ratio for instagram

  span
    +sr-only


.tile__content
  display: block
  font-weight: 700

.quote__fn
  &::after
    content: ', '

.quote__pos

.quote__co
  display: block
  color: $co--highlight

@media (min-width: 640px)
  li.tile--instagram
    max-width: 320px

@media (min-width: 1200px)
  .mosaic
    li
      max-width: 50%

  li.tile--instagram
    max-width: 320px
