.screenshot__wrap
  display: flex
  flex-wrap: wrap
  top: 100%
  left: 0
  position: absolute
  width: 100%

.screenshot
  position: relative
  display: block
  width: 50%

  &:nth-child(even)
    top: -55px
    left: 20px
