@import tools

.wysiwyg
  +ff--p
  font-size: 1rem
  overflow: hidden

  div > :first-child
    margin-top: 0

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    margin: $pd--s 0

    &:first-child
      margin-top: 0!important

    &:last-child
      margin-bottom: 0!important

  p
    margin: $pd--ml 0

    &:first-child
      margin-top: 0!important

    &:last-child
      margin-bottom: 0!important

  a
    text-decoration: none
    color: $co--blue--lt

  figure,
  img
    display: block
    max-width: 100%
    height: auto
    margin: 0 auto

  iframe
    display: block
    max-width: 100%
    margin: 0 auto

  figure
    border: 1px solid $co--tint
    width: 100%!important

  figcaption
    +ff--base
    font-size: 0.65em
    padding: $pd--xxs $pd--ml
    text-transform: uppercase
    background-color: $co--tint

  ul
    position: relative

    li
      padding: $pd--xxs 0

    > li
      margin-left: $pd--s

      &::before
        content: '»'
        position: absolute
        left: 0

      ul > li
        font-weight: 300

        &::before
          content: '•'

  ol
    list-style: decimal
    padding-left: 1.5em

  > div
    ul:first-child
      li:first-child
        padding-top: 0

    ul:last-child
      li:last-child
        padding-bottom: 0

  > .more
    display: block
    margin-top: $pd--s

  blockquote
    font-style: italic
    line-height: $lh--lg
    margin: $pd--xs
    padding-left: $pd--m
    quotes: none
    color: $co--blue-grey--md
    border: 0 solid $co--blue--lt
    border-left-width: 2px

    p
      &:first-child
        margin-top: 0

      &:last-child
        margin-bottom: 0

  .twitter-tweet
    width: 100% !important
    max-width: 520px !important
    margin-right: auto
    margin-left: auto

  .question
    color: $co--wt

  .number
    display: block
    line-height: 1
    font-size: $fs--xxj
    margin-top: -0.07em

@media screen and (max-width: $bp--mn - 1)
  .wysiwyg
    iframe
      max-width: none
      margin: 0 ($pd--h--mb / -1)
      width: calc(100% + #{$pd--h--mb * 2})
      height: 65vw

@media screen and (min-width: $bp--mn)
  .wysiwyg
    blockquote
      margin: $pd--xl

    iframe
      &[src^="https://www.youtube"]
        max-height: 40vw

@media screen and (min-width: 1200px)
  .wysiwyg
    iframe
      &[src^="https://www.youtube"]
        max-height: 450px
