@import _tools

.wysiwyg
  font-family: $ff--p
  font-size: 1rem
  overflow: hidden

  > :first-child
    margin-top: 0

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    margin: $pd--s 0

  p
    margin: $pd--ml 0

    &:first-child
      margin-top: 0

    &:last-child
      margin-bottom: 0

  a
    text-decoration: none
    color: $co--blue--lt

  figure,
  img
    max-width: 100%
    height: auto
    margin: 0 auto

  iframe
    display: block
    max-width: 100%
    margin: 0 auto

  figure
    border: 1px solid $co--tint

  figcaption
    font-family: $ff--base
    font-size: 0.65em
    padding: $pd--xxs $pd--ml
    text-transform: uppercase
    background-color: $co--tint

  ul
    position: relative

    li
      padding: $pd--xxs 0

    > li
      margin-left: $pd--s

      &::before
        content: '»'
        position: absolute
        left: 0

      ul > li
        font-weight: 300

        &::before
          content: '•'

  > .more
    display: block
    margin-top: $pd--s

  blockquote
    font-style: italic
    line-height: $lh--lg
    margin: $pd--xs
    padding-left: $pd--m
    quotes: none
    color: $co--blue-grey--md
    border: 0 solid $co--blue--lt
    border-left-width: 2px

    p
      &:first-child
        margin-top: 0

      &:last-child
        margin-bottom: 0

  .twitter-tweet
    width: 100% !important
    max-width: 520px !important
    margin-right: auto
    margin-left: auto

  &.-narrow
    max-width: $sz--s

  @media screen and (min-width: $bp--mn)
    blockquote
      margin: $pd--xl
