@import tools

.main-legal
  width: 100%
  font-size: $fs--xxt
  line-height: $lh--xl

  > .credit,
  > .legal
    display: block

  @media screen and (min-width: $bp--nv)
    text-align: center
    font-size: $fs--xxs
