@import tools

.section-hero
  display: flex
  min-height: 64vh
  // For when there is no content in the hero

  > .container
    +cont--xl
    +block-pad
    min-height: 64vh
    display: flex
    align-items: center
    // To fix IE flex bug on min-height / flex direction column

  &.-small
    min-height: 45vh
    // For when there is no content in the hero

  &.-fullscreen
    > .container
      min-height: 100vh

  .footer-actions
    margin-top: 0

  .list-actions
    justify-content: center

.main-hero
  +center-box
  height: 100%
  width: 100%
  color: $co--wt

  > .container

    .title
      +heading-section
      width: 100%
      max-width: $sz--m
      margin-right: auto
      margin-bottom: 1.05em
      margin-left: auto
      color: $co--wt

      .emph
        +ff--feature($fs--j, $fs--xxj)
        font-weight: 400
        line-height: 0.8
        display: block
        margin-bottom: 0.2em

      .i
        max-width: 100%
        margin: $pd--xs auto 0

    .wysiwyg
      font-size: $fs--mms
      width: 100%
      max-width: $sz--m
      margin-right: auto
      margin-left: auto
      text-align: center

      &.-narrow
        max-width: $sz--s

      &.-wide
        max-width: none

      a
        color: $co--brightyellow

  &.-latestposts
    .list-recentposts
      display: none

@media screen and (max-width: $bp--mn - 1)
  main#contact-us .main-hero > .container
    .title
      .emph
        font-size: $fs--xj

  main#comversational .section-hero
    &:last-of-type
      overflow: hidden
      width: 0
      height: 0
      min-height: 0

@media screen and (min-width: $bp--mn)
  .main-hero
    > .container
      .wysiwyg
        font-size: $fs--l

    &.-latestposts
      flex-direction: row
      justify-content: space-between

      > .container
        .title,
        .wysiwyg
          text-align: left

      .list-recentposts
        display: block
        max-width: 600px
        margin-left: $pd--ll

    main.-hassubmenu .section-hero:first-child &
      margin-top: $ht-subheader
