@import _tools

.section-hero
  display: flex
  flex-direction: row
  // To fix IE flex bug on min-height / flex direction column
  min-height: 64vh
  // For when there is no content in the hero

  > .container
    +cont--m
    +block-pad
    min-height: 64vh

  &.-small
    min-height: 45vh
    // For when there is no content in the hero

  &.-fullscreen
    > .container
      min-height: 100vh

  main#comversational &
    &:last-of-type
      display: none

.main-hero
  +center-box
  height: 100%
  color: $co--wt

  > .title
    +heading-section
    width: 100%
    margin-bottom: 1.05em
    color: $co--wt

    strong
      font-family: $ff--feature
      font-size: $fs--j
      font-weight: 400
      line-height: 0.8
      display: block
      margin-bottom: 0.2em
      letter-spacing: normal

      #contact-us &
        font-size: $fs--xj

    > .i
      max-width: 100%
      margin: $pd--xs auto 0

  > .wysiwyg
    font-size: $fs--mms

    a
      color: $co--brightyellow

@media screen and (min-width: $bp--mn)
  .section-hero

    main#comversational &
      &:last-of-type
        display: flex

    .-hassubmenu + main &
      .main-hero
        margin-top: $ht-subheader

  .main-hero
    > .title
      strong
        font-size: $fs--xxj

    > .wysiwyg
      font-size: $fs--l
