@import _variables
@import _mixins

.logo-block
  +cont--xl
  text-align: center

  > .header
    +heading-light
    color: $co--wt

  > .logos
    +inline-children-item

.logo-link
  width: $logo-w
  display: block
  flex-shrink: 1

  > svg
    width: 100%
    height: auto
