@import tools

.brandlogo
  width: 131px
  height: 20.6px

  display: block
  flex-shrink: 1

  > svg
    width: 100%
    height: auto

@media screen and (min-width: $bp--nv)
  .brandlogo
    width: 190px
    height: 30px
