@import _tools

.main-links
  margin-top: $pd--xxs

  .main-social + &
    margin-left: 15px
    // Alignment fix to bring in line with the social icons above

  > .title
    +sr-only

.list-links
  +inline-children-item(4px, 4px)

  > .item > .link
      display: block
      max-width: 130px
      max-height: 55px
