@import _tools

.block-social
  > .title
    +sr-only

.list-social
  +inline-children-item(4px, 4px)

.link-social
  display: block
  min-width: $ia-min-size
  min-height: $ia-min-size
  text-align: center
  text-decoration: none
  color: $co--blue--md

  > .i
    width: 1.425em
    height: 1.425em
