.social
  h2
    +sr-only

  ul
    +inline(4px)
    display: flex

  svg.i
    width: 1.6667em
    height: 1.6667em

  a
    display: block
    min-width: $ia-min-size
    min-height: $ia-min-size
    text-align: center
    text-decoration: none
    color: $co--logo--blue-md
