@import _tools

.section-team
  > .container
    +cont--xl

.block-team
  +block-pad($pd--xl)

  > .title
    +sr-only

.list-team
  > .item
    padding-bottom: 30px
    + .item
      border-top: 1px solid transparentize($co--blue-grey, 0.7)
      padding-top: 30px

@media screen and (min-width: $bp--lg)
  .list-team

    > .item
      padding: 0

    > .item + .item
      padding: 0
      margin-top: 1px
      border: 0
