@import _variables
@import _mixins

.member-vcard
  white-space: nowrap
  flex: none

  .fn
    +sr-only

  .link
    font-size: $fs--xs
    color: $co--blue-grey--dk
    text-decoration: none

  .i
    color: $co--blue-grey
    vertical-align: middle
    margin-right: $spc
