@import _variables
@import _mixins

.vcard-member
  width: 13rem
  white-space: nowrap
  flex: none
  line-height: $lhr--xxl

  .fn
    +sr-only

  .link
    font-size: $fs--ss
    color: $co--blue-grey--md
    text-decoration: none

  .i
    width: 1em
    height: 1em
    color: $co--blue-grey
    vertical-align: middle
    margin-right: $spc
