@import tools

.vcard-member
  +member-lh
  white-space: nowrap
  overflow: hidden

  .link
    font-size: $fs--xt
    text-decoration: none
    color: $co--blue-grey--md

  .i
    display: inline
    width: 1em
    height: 1em
    margin-right: $spc
    vertical-align: middle
    color: $co--blue-grey

@media screen and (min-width: $bp--mn)
  .vcard-member
    .link
      font-size: $fs--ss
