@import _variables
@import _mixins

.content-tile
  +stretch
  font-size: 16px
  padding: 1.25em
  display: block
  width: 100%
  text-decoration: none
  color: inherit
  line-height: $lh--m

  > .i
    display: block
    width: 1.2em
    height: 1.2em
    margin-bottom: 0.5em

  > .wysiwyg
    font-weight: 700

    + footer
      margin-top: 0.5em

    .-instagram &
      +sr-only

.block-cite
  font-size: 0.84em

  > .fn
    &::after
      content: ', '

  > .co
    display: block
    color: $co--brightyellow

@media screen and (min-width: $bp--mn)
  .content-tile
    font-size: 25px
