@import tools

.main-tile
  +hover-scale
  font-size: 16px
  line-height: $lh--m
  position: relative
  display: block
  width: 100%
  align-self: stretch
  padding: 1.25em 1em 2em
  text-decoration: none
  color: inherit

  > .i
    display: block
    width: 1.2em
    height: 1.2em
    margin-bottom: 0.5em

  > .wysiwyg
    font-family: inherit
    font-size: 1em
    font-weight: 700

  &.-team
    > .title
      font-size: $fs--t
      text-transform: uppercase
      font-weight: 400
      display: inline-block
      border-bottom: 1px solid currentColor
      padding-bottom: 0.5em
      margin-bottom: $pd--s

    > .question
      font-weight: 700

    > .wysiwyg
      color: $co--brightyellow

      a
        color: inherit
        text-decoration: underline

    > .svgbg
      min-height: 100%
      min-width: 100%
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      z-index: $z--under

      &.-blue,
      &.-violet,
      &.-grey,
      &.-yellowgreen,
      &.-teal
        image
          filter: url(#filter-bw)

        &::after
          display: none

      &.-blue
        .colorize
          filter: url(#filter-blue)

      &.-violet
        .colorize
          filter: url(#filter-violet)

      &.-grey
        .colorize
          filter: url(#filter-grey)

      &.-yellowgreen
        .colorize
          filter: url(#filter-yellowgreen)

      &.-teal
        .colorize
          filter: url(#filter-teal)

    > .fade
      +stretch
      z-index: $z--under
      content: ' '
      background-color: $co--bk
      opacity: 0.5

@media screen and (min-width: $bp--mn)
  .main-tile
    font-size: 25px
