@import _tools

.section-contact
  > .section-background
    ._bgcol
      background-color: $co--tint

  > .container
    +cont--xl

@media screen and (min-width: $bp--mn)
  .section-contact
    > .container
      padding: 0

  .main-contact
    display: flex

    > .container
      padding: $pd--ll
      flex-grow: 1
