@import tools

$mg-defeat: $pd--h--dt / -1

.section-tpaas
  > .container
    +cont--xl
    // +block-pad

  &.-architecture,
  &.-features
    > .section-background ._bgcol
      background-color: $co--blue--md

  &.-searchshop,
  &.-award
    > .section-background ._bgcol
      background-color: $co--green

  &.-instapricer
    z-index: $z--mid

    > .section-background ._bgcol
      background-color: $co--blue-grey--tt
      background-image: linear-gradient(to bottom, transparentize($co--blue-vio, 1) 0%, transparentize($co--blue-vio, 0.9) 100%)

  &.-searchshop
    z-index: $z--top

.main-tpaas
  display: flex
  flex-direction: column
  align-items: stretch
  justify-content: flex-start

  .title
    +heading-spaced
    font-size: $fs--mml
    order: 1
    margin-bottom: $pd--ml
    text-align: center
    color: $co--wt

  > .screenshot-block
    order: 2

  > .wysiwyg,
  > .list-tpaas
    order: 3

  .wysiwyg
    font-family: $ff--base
    line-height: $lh--ml
    color: $co--wt

    h1, h2
      font-size: $fs--mms
      font-weight: 400
      line-height: $lh--base
      color: $co--brightyellow

      &:nth-child(n + 2)
        margin-bottom: 0

        + p
          margin-top: 0

    p
      margin: $pd--xs 0

  &.-instapricer
    > .title
      color: $co--blue--dk

    .wysiwyg
      color: $co--blue-grey--md

      h1, h2
        color: $co--blue--md

  &.-features
    .title
      margin: $pd--xxs 0
      text-align: left

.screenshot-block
  margin-bottom: $pd--ml

  > .image
    width: 100%
    border: 5px solid transparentize($co--wt, 0.5)

    &:nth-child(n + 2)
      display: none

.list-tpaas
  &.-architecture
    > .item
      margin: 0.75rem 0

      &:first-child
        margin-top: 0!important

      &:last-child
        margin-bottom: 0!important

    .image
      display: none

  &.-features
    $spc-v: $pd--s
    margin: ($spc-v / -1) 0

    > .item
      padding: $spc-v 0

    .i
      width: 2.5em
      height: 2.5em
      color: $co--wt

@media screen and (min-width: $bp--mn)
  .main-tpaas
    display: block

    > .title
      font-size: $fs--xl
      margin-bottom: $pd--xl

    .wysiwyg
      line-height: $lh--xl

      h1, h2
        font-size: $fs--lm
        line-height: $lh--ml

    &.-searchshop
      position: relative

      .wysiwyg
        width: 50%
        padding-right: $pd--s

      .screenshot-block
        margin-top: $pd--xl

        .image
          &:nth-of-type(1)
            position: relative
            z-index: $z--top
            max-width: 480px
            margin-left: $mg-defeat

          &:nth-of-type(2)
            position: absolute
            z-index: $z--mid
            bottom: $pd--v / -0.65
            left: 330px
            max-width: 380px

          &:nth-of-type(3)
            position: absolute
            z-index: $z--base
            top: 4rem
            right: 0
            max-width: 50%
            margin-right: $mg-defeat

    &.-instapricer
      +clearfix

      .wysiwyg
        float: right
        width: 50%

      .screenshot-block
        float: left
        width: 50%
        max-width: 500px
        margin-bottom: -70px
        margin-left: $mg-defeat

    &.-award
      +clearfix

      .wysiwyg
        float: left
        width: 38%

      .screenshot-block
        position: relative
        float: right
        width: 62%
        margin-right: $mg-defeat

        > .image
          &:nth-of-type(1),
          &:nth-of-type(2)
            max-width: calc(60% - #{$pd--h--dt})

          &:nth-of-type(2)
            margin-top: $pd--h--dt

          &:nth-of-type(3)
            position: absolute
            top: $pd--v / -0.75
            right: 0
            max-width: 40%

    &.-architecture
      .screenshot-block
        display: none

  .screenshot-block
    margin-bottom: 0

    > .image:nth-child(n + 2)
      display: block
      border-width: 10px

  .list-tpaas
    &.-features
      column-count: 2
      column-gap: $pd--xxl

      > .item
        overflow: hidden
        // Prevent alignment 'bug'
        break-inside: avoid

    &.-architecture
      > .item
        display: flex
        align-items: center

      .image
        display: block
        position: relative
        left: $mg-defeat
        width: 50%

      .wysiwyg
        width: 50%
