@import tools

$mg-defeat: $pd--h--dt / -1

.section-tpaas
  > .container
    +cont--xl
    +block-pad

  &.-architecture,
  &.-features,
  &.-quotes
    color: $co--wt

    ._bgcol
      background-color: $co--blue--md

  &.-searchshop,
  &.-award
    color: $co--wt

    ._bgcol
      background-color: $co--green

  &.-instapricer,
  &.-manage
    z-index: $z--mid

    ._bgcol
      background-color: $co--blue-grey--tt
      background-image: linear-gradient(to bottom, transparentize($co--blue-vio, 1) 0%, transparentize($co--blue-vio, 0.9) 100%)

  &.-searchshop
    z-index: $z--top

.main-tpaas
  > .container
    width: 100%
    display: flex
    flex-direction: column
    align-items: stretch
    justify-content: flex-start

  .tpaas-graphics
    order: 1

  .tpaas-content
    order: 2

  .title
    +heading-section

  .wysiwyg
    +ff--base
    line-height: $lh--ml

    h1, h2
      font-size: $fs--mms
      font-weight: 400
      line-height: $lh--base
      color: $co--brightyellow

      &:nth-child(n + 2)
        margin-bottom: 0

        + p
          margin-top: 0

    p
      margin: $pd--xs 0

  &.-instapricer,
  &.-manage
    .title
      color: $co--blue--dk

    .wysiwyg
      h1, h2
        color: $co--blue--md

  &.-features
    .title
      margin: $pd--xxs 0
      text-align: left

  &.-architecture
    .tpaas-graphics
      display: none

.tpaas-graphics
  margin-bottom: $pd--ml

  .image
    width: 100%
    border: 5px solid transparentize($co--wt, 0.5)

    &:nth-child(n + 2)
      display: none

.list-tpaas
  &.-features
    $spc-v: $pd--s
    margin: ($spc-v / -1) 0

    > .item
      padding: $spc-v 0

    .i
      width: 2.5em
      height: 2.5em

@media screen and (min-width: $bp--mn)
  %textonright
    .tpaas-content
      flex-grow: 1
      order: 2
      width: 50%
      padding-left: $pd--xl

    .tpaas-graphics
      order: 1
      width: 50%
      max-width: 500px
      margin-left: $mg-defeat

  %contenttoppad
    padding-top: $pd--ml

  .section-tpaas
    &.-searchshop
      + section
        padding-top: $pd--v / 2
        // Allow some extra from for the overlapping screenshots

  .main-tpaas
    > .container
      flex-direction: row
      justify-content: space-between
      flex-wrap: wrap

    .wysiwyg
      line-height: $lh--xl

      h1, h2
        font-size: $fs--lm
        line-height: $lh--ml

    &.-searchshop
      position: relative

      > .container
        display: block

      .tpaas-content
        @extend %contenttoppad
        width: 50%
        padding-right: $pd--s

      .tpaas-graphics
        margin-top: $pd--xl

        .image
          &:nth-of-type(1)
            position: relative
            z-index: $z--top
            max-width: 480px
            margin-left: $mg-defeat

          &:nth-of-type(2)
            position: absolute
            z-index: $z--mid
            bottom: $pd--v / -0.65
            left: 330px
            max-width: 380px

          &:nth-of-type(3)
            position: absolute
            z-index: $z--base
            top: 4rem
            right: 0
            max-width: 50%
            margin-right: $mg-defeat

    &.-architecture
      .tpaas-graphics
        order: 1
        display: block

        .image
          border: 0

      .tpaas-content
        order: 2
        margin: $pd--xxl auto 0
        max-width: $sz--m

    &.-instapricer
      @extend %textonright

      .tpaas-content
        @extend %contenttoppad

      .tpaas-graphics
        margin-bottom: -2rem + ($pd--v / -1)

    &.-manage
      @extend %textonright

      .tpaas-content
        @extend %contenttoppad

      .tpaas-graphics
        position: relative
        z-index: -1
        margin-bottom: $pd--v / -1

        .image
          &:nth-child(2)
            position: relative
            width: 50%
            right: -75%
            top: -180px
            z-index: 0
            margin-bottom: -50%

    &.-award
      .tpaas-content
        @extend %contenttoppad
        order: 1
        width: 38%
        padding-right: $pd--s

      .tpaas-graphics
        order: 2
        position: relative
        width: 62%
        margin-right: $mg-defeat

        .image
          &:nth-of-type(1),
          &:nth-of-type(2)
            max-width: calc(60% - #{$pd--h--dt})

          &:nth-of-type(2)
            margin-top: $pd--h--dt

          &:nth-of-type(3)
            position: absolute
            top: $pd--v / -0.75
            right: 0
            max-width: 40%

    &.-quotes
      @extend %textonright

      > .wysiwyg
        margin: 0 auto $pd--xxl
        max-width: $sz--m

      .tpaas-graphics
        margin: 0
        width: 55%
        max-width: none

      .tpaas-content
        width: 45%

  .tpaas-graphics
    margin-bottom: 0

    .image
      border-width: 10px

      &:nth-child(n + 2)
        display: block

    &.-fullwidth
      width: 100%
      flex: none

  .list-tpaas
    &.-features
      column-count: 2
      column-gap: $pd--xxl

      > .item
        overflow: hidden
        // Prevent alignment 'bug'
        break-inside: avoid
