@import _variables
@import _mixins

.section-singlepost
  > .container
    +columns
    align-items: flex-start

.list-singlepost
  width: 480px
  flex: 10 2 480px

  > li > a
    text-decoration: none
    color: inherit
    display: block

.sidebar-singlepost
  width: 100%

@media screen and (min-width: $bp--mn)
  .section-singlepost
    > .container
      +cont--xl

    .section-hero + &
      margin-top: -13rem

  .sidebar-singlepost
    width: 320px
    flex: 1 5 320px
    margin-left: 2%
