@import _tools

$spacing--mob: $pd--l / 2
$spacing--dt: $pd--xl / 2

.list-comments
  border-bottom: 1px solid $co--blue-grey--tt
  padding-bottom: $pd--l

  > .item
    padding: $spacing--mob 0
    animation: slideEnter $tr--f both

    &:last-child
      padding-bottom: 0

  .list-comments
    padding-top: $spacing--mob
    padding-left: $pd--ml
    padding-bottom: 0
    border-bottom: none

  .main-message + &
    padding-top: 0

    > .item
      padding-top: 0

.main-comment
  +avatar-default

  > .avatar
    max-width: 64px
    width: 15%
    border-radius: 50%

.article-comment
  > .wysiwyg
    font-weight: 300
    line-height: $lh--xl
    padding-bottom: $pd--s

  > .footer-actions .btn
    font-size: $fs--xt

.header-comment
  +header-default
  line-height: $lh--lg

  .title
    display: block
    font-size: $fs--xt
    color: $co--blue-grey--md
    font-weight: 700

  .subtitle
    display: block
    color: $co--blue-grey
    font-size: $fs--xxt

@media screen and (min-width: $bp--mn)
  .list-comments
    padding-bottom: $pd--xl

    > .item
      padding: $spacing--dt 0

    .list-comments
      padding-top: $spacing--dt

  .header-comment
    .title
      font-size: $fs--xs

    .subtitle
      font-size: $fs--t

  .article-comment
    > .footer-actions .btn
      font-size: $fs--xs
