@import _tools

.section-contact
  > .container
    +cont--xl

.block-contact
  display: flex

  .block-social
    padding: $pd--ll
    min-width: 320px

  .list-social
    padding-left: $pd--ll

  .block-submit
    padding: $pd--ll
    flex-grow: 1
