@import _tools

.section-contact
  > ._sectionbg
    background-color: $co--tint

  > .container
    +cont--xl(false)

.main-contact
  display: flex

  > .container
    padding: $pd--ll
    flex-grow: 1

  .main-social
    padding: $pd--ll
    min-width: 320px

  .list-social
    padding-left: $pd--ll
    // To align more centrally

  .main-submit
    .title
      font-size: $fs--ml
