@import tools

.section-recentposts
  +block-pad
  + .-skewtop,
  + .-skewboth
    margin-top: -1px

.list-recentposts
  > .item
    position: relative

    a
      text-decoration: none

    + .item
      margin-top: 1px

    &:nth-child(1)
      .header-recentpost.-large
        background-color: $co--green

    &:nth-child(2)
      .header-recentpost.-large
        background-color: $co--blue--md

  + .footer-actions
    justify-content: center
    margin-top: $pd--l

.article-recentpost
  +hover-scale
  position: relative
  z-index: $z--base
  display: flex
  align-items: center
  background-color: $co--wt
  margin: 1px 0

  .title
    color: $co--blue-grey--dk

  .subtitle
    color: $co--blue-grey

  &.-large
    display: block
    // justify-content: flex-end
    width: 100%
    min-height: 120px
    color: $co--wt
    margin: $pd--xs 0

    > ._bgimg
      width: 50%

  &:first-child
    margin-top: 0

  &:not(.-large)
    > ._bgimg
      position: relative
      flex: none
      align-self: stretch
      width: 33%
      height: auto

      &::after
        content: ' '
        display: block
        padding-top: 100%

.header-recentpost
  +header-default(0)
  padding: $pd--s
  font-size: $fs--xxs

  .title
    margin-bottom: 0.3em

  .subtitle
    font-size: $fsr--s

  &.-large
    align-items: flex-start
    flex: none
    width: 50%
    padding: $pd--xs $pd--xxs

    .i.-post
      width: 1em
      height: 1em
      margin-bottom: 0.3em

    .title
      color: $co--wt

    .subtitle
      color: $co--wt

@media screen and (min-width: $bp--mn)
  .section-recentposts
    display: none

  .article-recentpost
    &.-large
      &::after
        content: ' '
        display: block
        padding-top: 90%

      > ._bgimg
        width: 100%

  .list-recentposts
    + .footer-actions
      display: none

  .header-recentpost
    display: flex
    align-items: center
    flex-grow: 1
    font-size: $fs--ss

    &.-large
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      padding: $pd--ml $pd--s
      font-size: $fs--mms

      .i.-post
        flex: none
        width: 1.2em
        height: 1.2em
        margin-right: $pd--xs
        margin-bottom: 0
