@import _tools

.list-recentposts
  > .item
    position: relative

    a
      text-decoration: none

    + .item
      margin-top: 1px

    &:nth-child(1)
      .header-recentpost.-large
        background-color: $co--green

    &:nth-child(2)
      margin: $pd--s 0

      .header-recentpost.-large
        background-color: $co--blue--md

.article-recentpost
  +hover-scale
  position: relative
  z-index: $z--base
  display: flex
  background-color: $co--wt

  .title
    color: $co--blue-grey--dk

  .subtitle
    color: $co--blue-grey

  &.-large
    display: flex
    justify-content: flex-end
    width: 100%
    min-height: 120px
    color: $co--wt

    > ._bgimg
      width: 50%

  &:not(.-large)
    > ._bgimg
      position: relative
      flex: none
      align-self: stretch
      width: 33%
      height: auto

      &::after
        content: ' '
        display: block
        padding-top: 100%

.header-recentpost
  +header-default(0)
  display: flex
  align-items: center
  flex-grow: 1
  padding: $pd--l $pd--s

  .title
    font-size: $fs--mss

  .subtitle
    font-size: $fs--t

  &.-large
    display: flex
    align-items: flex-start
    flex: none
    width: 50%
    padding: $pd--xs $pd--xxs

    .i.-post
      flex: none
      width: 1em
      height: 1em
      margin-right: $pd--xxs

    .title
      color: $co--wt

    .subtitle
      color: $co--wt

@media screen and (min-width: $bp--mn)
  .article-recentpost
    &.-large
      &::after
        content: ' '
        display: block
        padding-top: 90%

      > ._bgimg
        width: 100%

  .header-recentpost
    .subtitle
      font-size: $fs--t

    &.-large
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      padding: $pd--l $pd--s

      .i.-post
        width: 1.5em
        height: 1.5em
        margin-right: $pd--xs

      .title
        font-size: $fs--lm
