@import _tools

.header-siteheader
  +shadowborder
  position: fixed
  z-index: $z--highest
  top: 0
  left: 0
  width: 100vw
  height: $ht-header--mb
  background: linear-gradient(to right, $co--wt 0%, #e3e3ea 100%)
  opacity: 0.9

  > .container
    +cont--xl
    +inline-children-item(0,0)
    height: 100%
    max-width: none

@media screen and (min-width: $bp--nv)
  .header-siteheader
    height: $ht-header--dt
    background: linear-gradient(to right, $co--wt 0%, $co--blue-grey--tt 100%)
