@import tools

%overlap
  content: ' '
  position: absolute
  z-index: $z--mid
  left: 0
  display: block
  width: 100%
  border-color: currentColor
  background-color: currentColor

section
  position: relative
  z-index: $z--base

  &.-oltop
    padding-top: $overlap-size / 2

  &.-olbottom
    padding-bottom: $overlap-size / 2


.section-background
  +stretch
  z-index: $z--under

  ._bgcol
    +stretch

._skew
  overflow: hidden
  box-sizing: content-box
  transform: skewY($angle--ban) scaleZ(1)
  // Having the scaleZ gives a nicer render

  > ._skewcorrect
    transform: skewY($angle--ban / -1) scaleZ(1)

.section-background
  &.-oltop,
  &.-olbottom,
  &.-olboth
    &::after
      @extend %overlap

  &.-oltop
    &::after
      top: 0

    &.-oldouble
      &::after
        border-top-width: $overlap-size / 2
        border-top-style: solid

  &.-olbottom
    &::after
      bottom: 0

    &.-oldouble
      &::after
        border-bottom-width: $overlap-size / 2
        border-bottom-style: solid

  &.-olboth
    background-color: currentColor
    box-shadow: 0px 5px 0px 15px currentColor
    border-top: $overlap-size / 2 solid transparentize($co--wt, 0.8)
    top: $overlap-size / -2

    &::after
      display: none

  &.-olsmall
    &::after
      height: $overlap-size / 2

  &.-olsingle
    &::after
      height: $overlap-size / 2

  &.-oldouble
    &::after
      height: $overlap-size

  &.-olblue
    color: transparentize($co--blue--md, 0.5)

  &.-olbluedk
    color: transparentize($co--blue--dk, 0.5)

  &.-olwhite
    color: transparentize($co--wt, 0.5)

  &.-olgreen
    color: transparentize($co--green, 0.5)

.-skewbottom,
.-skewtop,
.-skewboth
    // -1px bottom margins prevent any whitespace / jagged edges appearing as an artefact
    margin-top: -1px
    margin-bottom: -1px

.-skewnone
  // Ensures straight line without artefacts
  z-index: $z--mid

  + .-skewtop,
  + .-skewboth
    z-index: $z--top
    margin-top: calc(#{$angle_h_ratio / -2} - 1px)

.-skewbottom
  > ._skew
    top: $angle_h_ratio / -2
    padding-bottom: $angle_h_ratio / 2

    > ._skewcorrect
      top: $angle_h_ratio / 2

.-skewtop
  > ._skew
    top: 0
    padding-top: $angle_h_ratio / 2

    > ._skewcorrect
      top: $angle_h_ratio / -2

.-skewboth
  > ._skew
    > ._skewcorrect
      top: $angle_h_ratio / -2
      height: calc(100% + #{$angle_h_ratio})

@media screen and (min-width: $bp--mn)
  section
    &.-oltop
      padding-top: $overlap-size

    &.-olbottom
      padding-bottom: $overlap-size

  .section-background
    &.-olsingle
      &::after
        height: $overlap-size

    &.-oldouble
      &::after
        height: $overlap-size * 2

    &.-oltop
      &.-oldouble
        &::after
          border-top-width: $overlap-size

    &.-olbottom
      &.-oldouble
        &::after
          border-bottom-width: $overlap-size

    &.-olboth
      box-shadow: 0px 10px 0px 30px currentColor
      border-top-width: $overlap-size
      top: $overlap-size / -1
