@import _tools

.main-info
  +post-padding
  background-color: darken($co--blue-grey--tt, 2.5)
  padding-top: $pd--xxs
  padding-bottom: $pd--xxs
  color: $co--blue-grey--md
  font-size: $fs--xxt
  line-height: $lh--xxl

  > .author
    display: block

  > .info + .info
    margin-left: 1em

  .i
    width: 1em
    height: 1em
    display: inline
    vertical-align: middle
    margin-right: $spc

  .i.-time
    position: relative
    top: -1px
    // Alignment fix

  @media screen and (min-width: $bp--mn)
    padding-top: $pd--s
    padding-bottom: $pd--s
    font-size: $fs--t
