@import _tools

$fuseWidth: 132px
$imageWidth: 1150px
$margin: 10px
$fuseEdge: ((($imageWidth / 2) + ($fuseWidth / 2)) / -1) - $margin
$inset: 35vw

.section-products
  z-index: $z--mid

  > .container
    +cont--xl
    +block-pad

  > .section-background
    &::after
      $shadow: 60px
      content: ' '
      display: block
      width: 100%
      left: 0
      bottom: $shadow * -2
      height: $shadow * 2
      position: absolute
      box-shadow: 0 0 $shadow 0 $co--blue-vio

    ._bgcol
      background-color: $co--blue-grey--tt

    ._bgimgpreview
      background-position-x: $fuseEdge
      background-size: auto 100%
      opacity: 1

      &.-loaded
        transition: opacity $tr--s
        opacity: 0

    ._bgimgfull
      background-size: $imageWidth auto
      background-position: calc(#{$fuseEdge} + #{$inset}) $pd--v / 2.5

  &.-gradient
    > .section-background
      ._bgcol
        background-image: linear-gradient(to bottom, transparentize($co--blue-vio, 1) 40%, transparentize($co--blue-vio, 0.6) 100%)

  + section
    padding-top: $pd--v / 2
    // Allow some extra from for the overlapping phones

.article-products
  +article-default
  padding-top: 0
  width: auto

  > .wysiwyg
    +ff--base
    font-size: $fs--mml
    font-weight: 300
    line-height: $lh--ml
    color: $co--bk

  &.-pushright
    margin-left: $inset
    padding-left: 0
    padding-right: 0

.header-products
  +header-default

  .title
    +heading-light
    +heading-spaced
    color: $co--green

@media screen and (min-width: $bp--mn)
  .section-products
    > .section-background
      ._bgimgpreview,
      ._bgimgfull
        background-position-x: calc(50% - 150px)

      ._bgimgfull
        background-size: auto 175%
        background-position-y: $pd--v + 3rem

    + section
      padding-top: $pd--v
      // Allow some extra from for the overlapping phones

  .article-products
    > .wysiwyg
      font-size: $fs--h

    &.-pushright
      margin-left: 0
      left: 50%
      width: 50%
      padding-left: $pd--l + ($pd--xl / 2)
      padding-right: $pd--l
