.section
  min-height: 100vh

  &--sub
    position: relative
    width: 50%

    .content
      display: flex
      flex-direction: column
      align-items: flex-start
      height: 100%

    .wysiwyg
      p
        color: $co--logo--blue-md
        font-size: $fs--l

    h2
      font-weight: 700
      font-size: $fs--xh
      text-transform: none
      color: $co--bk

    .btn
      margin-top: auto

@media (min-width: $bp--mn)
  .section
    &--sub__wrap
      +inline($pd--h)
      display: flex
