@import _variables
@import _mixins

.section
  min-height: 100vh

  &--sub
    position: relative
    width: 50%

    .content
      display: flex
      flex-direction: column
      align-items: flex-start
      height: 100%

    .wysiwyg
      margin: $pd--xs 0 $pd--ml

      p
        color: $co--logo--blue-md

    h2
      font-weight: 700
      font-size: $fs--xh
      text-transform: none
      color: $co--bk

    .btn
      margin-top: auto

  &--sub__wrap
    margin-top: $pd--xxl

  &.products
    $shadow: 60px
    background-size: auto 90%
    background-position: left bottom
    // box-shadow: inset 0px 0px 60px -60px rgba(0,0,0,0.75)
    box-shadow: inset 0 $shadow / -0.9 $shadow $shadow / -1 #333967

@media (min-width: $bp--mn)
  .section
    &--sub__wrap
      display: flex

      article
        +inline-gap($pd--xl)
        padding: $pd--l
