@import tools

.list-screenshot
  display: flex
  flex-wrap: wrap
  min-width: 200px

  > .item
    position: relative
    display: block
    width: 100%

  &.-product
    position: relative
    top: 100%
    width: 100%
    margin-top: 48px

    > .item
      width: 48%

      &:nth-child(even)
        top: -24px
        left: 4%

.frame-screenshot
  position: absolute
  top: 12.0825%
  left: 6.986%
  overflow: hidden
  width: 86.028%
  height: 75.246%
  background-color: rgba(255, 255, 255, 0.5)

  > .screen
    width: 100%
    height: 100%
    transition: transform $tr--m

    img
      width: 100%
      height: 100%

@media screen and (min-width: $bp--mn)
  .list-screenshot
    &.-product
      position: absolute
      width: 115%
      margin: 0

      > .item

        &:nth-child(even)
          top: -55px
          left: 20px
