.screenshot__wrap
  display: flex
  flex-wrap: wrap
  width: 115%
  margin-right: -15%
  margin-bottom: -250px

.screenshot
  position: relative
  display: block
  width: 50%

  &:nth-child(even)
    top: -55px
    left: 20px
