.site__ftr
  position: relative
  padding: $pd--v
  background-color: $co--bl-gr-lt
  color: $co--blue--dk

  &::before
    // Tried this with a border on the ::after element and background clip but aliased the edge very poorly
    +angled($co--green)
    opacity: 0.5
    z-index: $z--sub + 1
    height: 30px
    top: -30px
    transform-origin: left bottom

  &::after
    +angled($co--bl-gr-lt)
    transform-origin: left bottom

  > div
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: flex-start

  .logo
    width: 190px
    height: auto
