@import _variables
@import _mixins

.footer-sitefooter
  font-weight: 300
  position: relative
  z-index: $z--mid
  padding: $pd--block
  color: $co--blue--dk
  background-color: $co--blue-grey--tt
  line-height: 1.334rem

  &::after
    +angled($co--blue-grey--tt, top)

.content-sitefooter
  +cont--xl
  +columns(auto, $pd--s)
