@import _variables
@import _mixins

.site-footer
  font-weight: 300
  position: relative
  z-index: $z--mid
  padding: $pd--block
  color: $co--blue--dk
  background-color: $co--blue-grey--lt
  line-height: 1.334rem

  &::after
    +angled($co--blue-grey--lt, top)

.content-footer
  +cont--xl
  +columns(auto, $pd--s)
