@import _variables
@import _mixins

=header-article($spc)
  margin-bottom: $spc

.header-article
  +header-article($pd--xs)

.header-products
  +header-article($pd--xs)

  > .title
    font-weight: 300
    letter-spacing: $ls--w
    color: $co--green

.header-product
  +header-article($pd--xs)

  > .title
    font-size: $fs--xh
    font-weight: 700
    text-transform: none
    color: $co--bk
