@import _variables
@import _mixins

.article-header
  margin-bottom: $pd--xs

  &.-alternate1
    > .title
      font-weight: 300
      letter-spacing: $ls--w
      color: $co--green

  &.-alternate2
    > .title
      font-size: $fs--xh
      font-weight: 700
      text-transform: none
      color: $co--bk
