@import _tools

.vcard
  position: relative
  font-size: $fs--xxs
  font-weight: 300
  white-space: nowrap
  flex: none

  .fn:not(org)
    +sr-only

  .street-address span
    display: block

  > .container > .item
    display: block

    &.-co
      text-transform: uppercase

    > .label
      +sr-only

  > .i.-pin
    position: absolute
    width: 2em
    height: 2em
    left: $pd--s / -1

  a
    text-decoration: none
    color: $co--blue--md

  > .container + .container
    padding-top: $pd--xxs

@media screen and (min-width: $bp--xs) and (max-width: $bp--mn - 1)
  .vcard
    display: flex

    > .container + .container
      padding-top: 0
      padding-left: $pd--l

@media screen and (min-width: $bp--mn)
  .vcard
    font-size: $fs--s

    > .i.-pin
      position: static
      margin-bottom: 0.5em
      margin-left: -0.4em

@media screen and (min-width: $bp--lg)
  .vcard
    display: flex

    > .container + .container
      padding-top: 0
      padding-left: $pd--l
