@import _variables
@import _mixins

.section-comments
  +block-pad($pd--xl)

  > .title
    font-size: $fs--m
    padding-bottom: $pd--xl

.list-comments
  border-bottom: 1px solid $co--blue-grey--tt

  .list-comments
    padding-left: $pd--ml
    border-bottom: none

.article-comment
  display: flex
  padding-bottom: $pd--xxl

  > .avatar
    width: 64px
    height: 64px
    border-radius: 50%
    overflow: hidden
    background-color: $co--teal

.content-comment
  flex-grow: 1
  padding-left: $pd--l

  > .wysiwyg
    +wysiwyg-default
    font-weight: 300
    line-height: $lh--xl
    padding-bottom: $pd--s

  > .footer-actions
    font-size: $fs--xs

.header-comment
  +header-default
  display: flex
  align-items: baseline

  .title
    font-size: $fs--xs
    color: $co--blue-grey--md
    font-weight: 700

  .subtitle
    margin-left: $pd--m
    color: $co--blue-grey
    font-size: $fs--t
