@import tools

.section-comments
  > .container
    +post-padding
    padding-top: $pd--ll
    padding-bottom: $pd--ll

.header-comments
  +header-default(0)

  .title
    font-size: $fs--xxs
    padding-bottom: $pd--s

@media screen and (min-width: $bp--mn)
  .header-comments
    .title
      font-size: $fs--m
      padding-bottom: $pd--ml
