@import _variables
@import _mixins

.section-comments
  +block-pad($pd--l)

  > .container
    +post-padding

.header-comments
  .title
    font-size: $fs--xxs
    padding-bottom: $pd--l

.list-comments
  border-bottom: 1px solid $co--blue-grey--tt

  .list-comments
    padding-left: $pd--ml
    border-bottom: none

.article-comment
  +avatar-object
  padding-bottom: $pd--l

  > .avatar
    max-width: 64px
    width: 15%
    border-radius: 50%

.main-comment
  > .wysiwyg
    +wysiwyg-default
    font-weight: 300
    line-height: $lh--xl
    padding-bottom: $pd--s

  > .footer-actions .btn
    font-size: $fs--xt

.header-comment
  +header-default
  line-height: $lh--lg

  .title
    display: block
    font-size: $fs--xt
    color: $co--blue-grey--md
    font-weight: 700

  .subtitle
    display: block
    color: $co--blue-grey
    font-size: $fs--xxt

@media screen and (min-width: $bp--mn)
  .section-comments
    +block-pad($pd--xl)

  .header-comments
    .title
      font-size: $fs--m
      padding-bottom: $pd--xl

  .header-comment
    .title
      font-size: $fs--xs

    .subtitle
      font-size: $fs--t

  .article-comment
    padding-bottom: $pd--xxl

  .main-comment
    > .footer-actions .btn
      font-size: $fs--xs
