@import _variables
@import _mixins

.article-member
  +clearfix

  > *
    overflow: hidden
    // Prevent some wrapping

  > .avatar
    float: left
    width: 29%
    margin-right: 4%
    background-color: $co--teal

    &::after
      content: ' '
      display: block
      padding-top: 100%

  > .wysiwyg
    +wysiwyg-default($fs: $fs--mss)
    +member-lh
    font-weight: 300
    padding-top: $pd--xxs
    clear: both

.header-member
  +header-default
  .title
    font-size: $fs--l
    font-weight: 700

  .subtitle
    letter-spacing: $ls--w
    text-transform: uppercase
    color: $co--blue-grey

@media screen and (min-width: $bp--sm)
  .article-member
    > .wysiwyg
      clear: none

@media screen and (min-width: $bp--lg)
  .article-member
    > .vcard-member
      float: right
      min-width: 14em

    > .wysiwyg
      font-size: $fs--m
      padding-top: 0
      padding-right: 2%

  .header-member
    padding-top: $pd--ml

    .title
      font-size: $fs--xl

    .subtitle
      font-size: $fs--m
