@import _variables
@import _mixins

.article-member
  display: flex

  > .avatar.-member
    width: 320px
    height: 320px

.content-member
  padding: $pd--ml 0 0 $pd--xl

  > .wrap
    display: flex

    > .wysiwyg
      +wysiwyg-default($fs: $fs--m)
      font-weight: 300
      padding-right: $pd--l
      line-height: $lhr--xxl

.header-member
  +header-default
  .title
    font-size: $fs--xl
    font-weight: 700

  .subtitle
    font-size: $fs--m
    color: $co--blue-grey
    letter-spacing: $ls--w
    text-transform: uppercase
