@import _variables
@import _mixins

.article-member
  display: flex

  > .avatar
    +bg-cover
    flex: none
    width: 320px
    height: 320px

.member-content
  padding: $pd--ml 0 0 $pd--xl

  > .content
    line-height: 1.6rem
    display: flex

.header-member
  +header-block
  > .title
    font-size: $fs--l
    font-weight: 700
    color: $co--blue-grey--dk

  > .subtitle
    font-size: $fs--m
    color: $co--blue-grey

.wysiwyg-member
  +wysiwyg-block
  color: $co--blue-grey--dk
  font-size: $fs--m
  padding-right: $pd--l
