@import _tools
$map-height: 200px

.section-map
  border-bottom: $map-height solid transparent
  z-index: $z--under

  > .container
    +cont--xl
    +block-pad
    position: relative

  .section-background
    > ._bgcol
      background-color: $co--blue--lt

.main-map
  display: flex
  justify-content: center

  > .vcard-company
    padding-left: $pd--s
    line-height: $lh--lg
    display: block
    color: $co--wt

    .item.-email
      display: none

    > .container + .container
      padding: $pd--m 0 0

  > .map
    position: absolute
    top: calc(100% - #{$angle_h_ratio / 2})
    display: block
    width: 100%
    height: calc(#{$map-height} + #{$angle_h_ratio})

@media screen and (min-width: $bp--mn)
  .section-map
    border-bottom: 0
    margin: ($angle_h_ratio / -2) 0!important

    > .container
      padding-left: 0
      padding-right: 0

  .main-map
    > .map
      position: relative
      height: auto
      top: auto
      z-index: $z--mid
      margin: ($pd--v / -1) 0

    > .vcard-company
      +contact-block
      font-size: inherit

      &::after
        display: none
