@import _tools

.article-post
  background-color: $co--wt
  > .wysiwyg
    +wysiwyg-default($fs: $fs--mss)
    +post-padding
    font-weight: 300
    line-height: $lh--ml
    padding-top: $pd--ll
    padding-bottom: $pd--s

.header-post
  +post-padding
  padding-top: $pd--s
  padding-bottom: $pd--s
  color: $co--wt
  background-color: $co--teal

  .title
    font-size: $fs--l
    line-height: $lh--m

@media screen and (min-width: $bp--mn)
  .article-post
    > .wysiwyg
      font-size: $fs--m
      padding-top: $pd--l
      padding-bottom: $pd--l

  .header-post
    padding-top: $pd--xl
    padding-bottom: $pd--l

    .title
      font-size: $fs--xh
