@import tools

.article-post
  > .wysiwyg
    +post-padding
    font-size: $fs--mss
    background-color: $co--wt
    font-weight: 300
    line-height: $lh--ml
    padding-top: $pd--l
    padding-bottom: $pd--l

.header-post
  +header-default(0)
  +post-padding
  position: relative
  padding-top: $pd--s
  padding-bottom: $pd--s
  color: $co--wt
  background-color: $co--teal

  .title
    font-size: $fs--l
    line-height: $lh--m

  &.-bg
    background: none
    padding-top: 8rem

    &::after
      +stretch
      content: ' '
      display: block
      background: $fade--floor
      z-index: $z--under

@media screen and (min-width: $bp--mn)
  .article-post
    > .wysiwyg
      font-size: $fs--m

  .header-post
    padding-top: $pd--xl
    padding-bottom: $pd--l

    .title
      font-size: $fs--xh
