@import _variables
@import _mixins

.article-post
  width: 480px
  flex: 10 2 480px

  > .wysiwyg
    +wysiwyg-default($fs: $fs--m)
    font-weight: 300
    line-height: $lh--ml
    padding: $pd--l
    background-color: $co--wt

.header-post
  color: $co--wt
  background-color: $co--teal

  .title
    font-size: $fs--xh
    padding: $pd--xl $pd--l $pd--l
