@import _tools

.block-submit
  position: relative
  // To contain loader

  .header + &
    border-top: 1px solid $co--blue-grey--tt

  .section-comments &
    +block-pad($pd--l)

  .section-comments .block-message + &
      padding-top: $pd--s

  .article-comment &
    animation: slideEnter $tr--f both


.header-submit
  +header-default($pd--s)

  .title
    font-size: $fs--xxs

  .subtitle
    color: $co--blue-grey
    font-size: $fs--xxt

.loader.-submit
  position: absolute
  right: $pd--h--mb / -1
  left: $pd--h--mb / -1
  width: auto
  height: 100%
  transition: opacity $tr--m, visibility $tr--m

  &.-loading
    pointer-events: all
    opacity: 0.8

.form-submit
  $spacing: $pd--s
  margin: $spacing / -2

  input,
  textarea
    +focus
    color: $co--blue-grey--md
    width: 100%
    padding-top: $pd--s
    padding-bottom: $pd--s
    resize: none
    &::-webkit-input-placeholder
      color: inherit

  textarea
    height: 200px
    line-height: $lh--xl

  > .name,
  > .email,
  > .comment
    font-size: $fs--xt
    padding: $spacing / 2
    width: 100%
    display: block

  > .footer-actions
    padding: $spacing / 2

    .btn.-reset
      display: none

      .list-comments &
        display: block

@media screen and (min-width: $bp--mn)
  .loader.-submit
    right: $pd--h--dt / -1
    left: $pd--h--dt / -1

  .block-submit
    .section-comments &
      +block-pad($pd--xl)

  .header-submit
    .title
      font-size: $fs--m

    .subtitle
      font-size: $fs--t

  .form-submit
    > .name,
    > .email,
    > .comment
      font-size: $fs--xxs

    > .name
      display: inline-block
      width: 33%

    > .email
      display: inline-block
      width: 67%
