@import _tools

.section-map
  z-index: $z--under
  margin: $angle_h_ratio / -2 0

  > .container
    +cont--xl(false)
    position: relative

.main-map
  display: flex

  > .map
    display: block
    position: relative
    flex-grow: 1
