@import _tools

.section-map
  z-index: $z--sub
  margin: $angle_h_ratio / -2 0

  > .container
    +cont--xl(false)
    position: relative

.content-map
  display: flex

  > .vcard
    padding: $pd--block $pd--ll
    display: block
    background-color: $co--blue--lt
    color: $co--wt
    min-width: 320px

    .email
      display: none

    .column + .column
      padding: $pd--m 0 0

  > .map
    position: relative
    flex-grow: 1
