@import tools

$dashboardImageRatio: 60.5vw

.section-imagebanner
  > .container
    +cont--xxl(false)

.main-imagebanner
  > ._bgimg
    position: relative
    height: $dashboardImageRatio / 2

    &:first-child
      ._bgimgfull,
      ._bgimgpreview
        background-position: left top

    &:last-child
      ._bgimgfull,
      ._bgimgpreview
        background-position: left bottom

.main-strip
  background-color: #ccccd8

.article-strip
  +cont--l
  +block-pad($pd--xl)
  background-color: #ccccd8

  > .title
    +header-default
    font-size: $fs--ml
    text-align: center
    color: $co--bk

  > .wysiwyg
    font-family: inherit
    font-size: inherit
    line-height: $lh--xl
    color: $co--logo--blue-dk

@media screen and (min-width: $bp--mn)
  .main-imagebanner
    > ._bgimg
      height: auto
      box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.5)

      &:last-child
        display: none

      > .image
        position: static
        clip: auto
        width: 100%
        height: auto
        margin: 0
        opacity: 0

  .main-strip
    position: absolute
    top: 50%
    left: 0
    width: 100%
    transform: translateY(-50%)

  .article-strip
    display: flex
    flex-direction: row

    > .title
      max-width: 30%
      text-align: left

    > .wysiwyg
      padding-left: $pd--l
