@import tools

.section-mosaic
  &:last-child
    margin-bottom: $angle_h_ratio

.list-mosaic
  display: flex
  flex-wrap: wrap
  width: 100%

  > .item
    line-height: $lh--m
    position: relative
    z-index: $z--base
    display: flex
    flex: 1 1 50%
    min-height: 50vw
    transition: background-color $tr--m
    color: $co--wt
    background-color: $co--blue-grey--dk

    &.-mlarge,
    &.-large
      flex-basis: 100%

    &.-teal
      background: $co--teal

      &:hover
        background: darken($co--teal, 5)

    &.-yellowgreen
      background-color: $co--yelgreen--lt

      &:hover
        background: darken($co--yelgreen--lt, 10)

    &.-blue
      background: $co--blue--lt

      &:hover
        background: darken($co--blue--lt, 5)

    &:last-child
      flex-grow: 1!important

#svg-filters
  +sr-only

@media screen and (min-width: $bp--mn)
  .list-mosaic
    > .item
      flex: 2 1 400px
      min-width: 20%
      min-height: 320px

      &::after
        display: none

      &.-square
        flex: 0 0 320px

      &.-narrow
        flex: 1 1 240px

      &.-mlarge
        flex: 3 1 520px

      &.-large
        flex: 3 1 700px
