@import tools

.section-mosaic
  &:last-child
    margin-bottom: $angle_h_ratio

.list-mosaic
  display: flex
  flex-wrap: wrap
  width: 100%
  background-color: $co--blue--dk

  > .item
    line-height: $lh--m
    position: relative
    z-index: $z--base
    display: flex
    flex: 1 1 50%
    min-height: 50vw
    color: $co--wt
    overflow: hidden
    transition: background-color $tr--m, opacity $tr--m

    &.-hide
      height: 0!important
      min-height: 0!important
      overflow: hidden!important
      visibility: hidden!important
      opacity: 0!important
      transition: none!important
      transform: scale(0)!important

    &.-mlarge,
    &.-large
      flex-basis: 100%

    &.-teal
      background: $co--teal

      &:hover
        background: darken($co--teal, 5)

    &.-yellowgreen
      background: $co--yelgreen--lt

      &:hover
        background: darken($co--yelgreen--lt, 10)

    &.-blue
      background: $co--blue--lt

      &:hover
        background: darken($co--blue--lt, 5)

@media screen and (min-width: $bp--mn)
  .list-mosaic
    > .item
      flex: 1 1 20%
      min-height: 320px
      min-width: 220px
      width: auto

      &.-square
        flex: 0.5 0 320px

      &.-narrow
        flex-basis: 15%

      &.-mlarge
        flex-basis: 35%

      &.-large
        flex-basis: 50%
