@import tools

.section-cta
  > .section-background
    ._bgcol
      background-color: $co--blue--dk

  > .container
    +cont--xl
    +block-pad

.main-cta
  +block-pad
  text-align: center

  > .title
    +heading-section
    color: $co--wt

  > .link
    text-decoration: none
    color: $co--brightyellow

    &:hover
      text-decoration: underline
