@import tools

$ctrlminwidth: 200px
$ctrlwidth: 27.78%

.section-prodmods
  > .section-background
    ._bgcol
      background-color: $co--blue--md

  > .container
    +cont--xl
    +block-pad

.main-prodmods
  display: flex
  flex-direction: column
  align-items: center

  > .list-screenshot
    order: 1
    flex: none
    width: 34%
    margin-top: ($pd--v / -1) - 1rem

  > .side-prodmods
    order: 2

  > .list-prodmod
    order: 3

.side-prodmods
  width: 100%
  margin-top: $pd--s

  > .title
    font-size: $fs--ml
    padding: $pd--m 0
    text-align: center
    word-wrap: break-word
    color: $co--bk

.list-prodmod
  display: flex
  overflow: hidden
  width: 100%
  padding-top: $pd--m

  > .item
    position: relative
    visibility: hidden
    flex: none
    width: 100%
    transition: transform $tr--m, opacity $tr--m, visibility $tr--m
    transform: translateX(0)
    opacity: 0

    &.-active
      visibility: visible
      transform: translateX(-100%)
      opacity: 1

.main-prodmod
  color: $co--wt

  > .title
    display: none

  > .wysiwyg
    font-family: inherit
    font-size: inherit
    line-height: $lh--xl

@media screen and (min-width: $bp--mn)
  .main-prodmods
    flex-direction: row

    > .side-prodmods
      order: 1

    > .list-screenshot
      order: 2

    > .list-prodmod
      order: 3

  .side-prodmods
    flex: 0 0 $ctrlwidth
    align-self: flex-start
    width: $ctrlwidth
    min-width: $ctrlminwidth
    margin-top: 0

    > .title
      padding-right: $pd--ml
      padding-left: $pd--m
      text-align: left

  .list-prodmod
    align-items: center
    padding-top: 0
    padding-left: $pd--ml

  .main-prodmod
    > .title
      +header-default($pd--m)
      +heading-spaced
      display: block
