@import _variables
@import _mixins

=link-nav
  +heading-spaced
  font-family: $ff--nav
  font-size: $fs--xs
  display: block
  text-decoration: none

.block-nav
  align-self: stretch

.list-nav
  +inline-children-item(0)
  align-items: stretch
  height: 100%
  position: relative

  > .item
    display: flex
    align-items: center
    position: relative

.link-nav
  +link-nav
  color: $co--blue--dk

  &.-active
    color: $co--green

    &.-hassub
      &::after
        +caret($co--green)

.block-subnav
  +shadowborder($co--green)
  background-color: $co--green
  display: none
  position: fixed
  width: 100%
  left: 0
  top: $ht-header--dt
  padding: $pd--s

  > .container
    +cont--xl
    display: flex
    justify-content: flex-end

  .link-nav.-active + &
    display: block

.list-subnav
  +inline-children-item

  .link-nav
    color: $co--wt

    &.-active
      color: $co--brightyellow
