@import _variables
@import _mixins

=nav-link
  font-family: $ff--nav
  font-size: $fs--xs
  display: block
  text-decoration: none
  letter-spacing: $ls--w
  text-transform: uppercase

.nav-block
  align-self: stretch

.nav-list
  +inline-children-item(0)
  align-items: stretch
  height: 100%
  position: relative

  > .item
    display: flex
    align-items: center
    position: relative

.nav-link
  +nav-link
  color: $co--blue--dk

  &.-active
    color: $co--green

    &.-hassub
      &::after
        +caret($co--green)

  .subnav-list &
    color: $co--wt

    &.-active
      color: $co--brightyellow

.subnav-wrap
  +shadowborder($co--green)
  background-color: $co--green
  display: none
  position: fixed
  width: 100%
  left: 0
  top: $ht-header--dt
  padding: $pd--s

  > .container
    +cont--xl
    display: flex
    justify-content: flex-end

  .nav-link.-active + &
    display: block

.subnav-list
  +inline-children-item
