@import tools

.footer-actions
  clear: both
  margin-top: auto

.list-actions
  display: flex

  > .item + .item
    margin-left: 2px

  .btn
    +focus
    position: relative
    perspective: 50px
    perspective-origin: right

.actions-icon
  position: absolute
  z-index: -1
  top: 0
  left: 100%
  display: flex
  visibility: hidden
  align-items: center
  height: 100%
  padding-right: 0.515em
  transition: all $tr--f
  transform: rotateY(90deg)
  transform-origin: left
  background-color: inherit

  .-loading &
    visibility: visible
    transform: rotateY(0deg)

  .i
    width: auto
    height: 1.1em
    margin-top: -1px
