@import tools

.section-banner
  z-index: $z--top

  > .section-background
    ._bgcol
      background-color: $co--green

  > .container
    +cont--xl
    +block-pad
    border-bottom: 1rem solid transparent

.main-banner
  text-align: center

  > .title
    +heading-light
    +header-default($pd--ll)
    color: $co--wt

.list-banner
  +inline-children-item
  justify-content: center
  flex-wrap: wrap

  > .item
    width: 50%
    position: relative

    .image
      width: 80%
      max-width: 200px
      margin: 0 auto

@media screen and (min-width: $bp--mn)
  .section-banner
    > .container
      border-bottom-width: 2rem

  .main-banner
    &.-clients

  .list-banner
    flex-wrap: nowrap

    > .item

      .image
        width: auto
        max-width: 100%
        height: auto
        max-height: 50px

        .-clients &
          max-height: 120px
