@import tools

.section-banner

  > .section-background
    ._bgcol
      background-color: $co--green

  > .container
    +cont--xl
    +block-pad
    border-bottom: 1rem solid transparent

  .section-products + &
    padding-top: $pd--v / 4

.main-banner
  text-align: center

  > .title
    +heading-light
    +header-default($pd--ll)
    color: $co--wt

.list-banner
  +inline-children-item
  justify-content: center
  flex-wrap: wrap

  > .item
    flex: 0 0 50%
    position: relative

    .image
      margin: 0 auto
      max-width: 220px
      width: 100%

@media screen and (min-width: $bp--mn)
  .section-banner
    > .container
      border-bottom-width: 2rem

  .list-banner
    > .item
      flex-basis: 20%

      .image
        width: auto
        max-width: 100%
        height: auto

        .-clients &
          max-height: 120px
