@import _variables
@import _mixins

.list-product
  +columns(2, $pd--xl)

  > .item
    position: relative

    + .item
      padding-top: $pd--l

.article-product
  +article-default
  background-color: transparentize($co--wt, 0.15)

  > .wysiwyg
    +wysiwyg-default($fs: $fs--mms)
    color: $co--blue--md

  > .footer-actions
    padding-top: $pd--ml


.header-product
  +header-default

  .title
    font-size: $fs--ml
    color: $co--bk

@media screen and (min-width: $bp--mn)
  .list-product
    margin-bottom: 350px

    > .item + .item
      padding-top: 0

  .header-product

    .title
      font-size: $fs--xxh

  .article-product

    &:not(.-boxed)
      background-color: transparent

    > .wysiwyg
      font-size: $fs--l
