@import _tools

.list-product
  > .item
    position: relative

    + .item
      padding-top: $pd--l

  &.-row
    +columns(2, $pd--xl)

    .article-product
      background-color: transparentize($co--wt, 0.15)

  &.-column
    width: 50%
    margin-left: 50%

.article-product
  +article-default

  > .wysiwyg
    font-size: $fs--mms
    color: $co--blue--md

  > .footer-actions
    padding-top: $pd--ml

.header-product
  +header-default

  .title
    font-size: $fs--ml
    color: $co--bk

@media screen and (min-width: $bp--mn)
  .list-product
    margin-bottom: 350px

    > .item + .item
      padding-top: 0

    &.-row
      > .item:nth-child(even) .article-product
        background-color: transparent

  .header-product
    .title
      font-size: $fs--xxh

  .article-product
    > .wysiwyg
      font-size: $fs--l
