@import tools

.list-product

  main#home &
    margin-bottom: $pd--v / -0.9

  main#products &
    margin-top: $pd--v
    margin-bottom: $pd--v / -2

  > .item
    position: relative

    + .item
      padding-top: $pd--xl

  &.-row
    +columns(2, $pd--xl)

.article-product
  +article-default($pd--s)
  background-color: transparentize($co--wt, 0.15)

  > .wysiwyg
    font-size: $fs--mms
    color: $co--blue--md

  > .footer-actions
    padding-top: $pd--ml

.header-product
  +header-default

  .title
    font-size: $fs--ml
    color: $co--bk

@media screen and (min-width: $bp--mn)
  .list-product

    main#home &
      margin-bottom: 22rem

    main#products &
      margin-bottom: 25rem

    > .item + .item
      padding-top: 0

    &.-row
      > .item:nth-child(even) .article-product
        background-color: transparent

    &.-column
      width: 50%
      margin-left: 50%

      > .item .article-product
        background-color: transparent


  .header-product
    .title
      font-size: $fs--xxh

  .article-product
    padding: $pd--l

    > .wysiwyg
      font-size: $fs--l
