@import tools

@media screen and (max-width: $bp--mn - 1)
  main#posts
    .section-hero
      .section-background
        &::after
          content: none

        &._skew,
        ._skewcorrect
          transform: none

.section-posts
  +block-pad
  padding-top: 0

  > .container
    +cont--xl(false)

.main-posts
  +columns
  align-items: flex-start
  padding-right: 0
  padding-left: 0

  + .footer-actions
    display: none

.list-posts
  width: 100%
  max-width: 738px

  > .item + .item
    margin-top: $pd--l

.sidebar-posts
  width: 100%

  .list-actions
    justify-content: center

@media screen and (min-width: $bp--mn)
  .main-posts
    + .footer-actions
      display: flex
      margin-top: $pd--l

  .section-posts
    .section-hero + &
      margin-top: -18vh

    > .container
      padding-right: $pd--h--dt
      padding-left: $pd--h--dt


  .list-posts
    flex: 10 1 540px
    width: auto

  .sidebar-posts
    flex: 1 1 320px
    width: auto
    margin-left: 2%
