@import _tools

.section-posts
  padding-bottom: $pd--block
  > .container
    +cont--xl
    +columns
    align-items: flex-start
    padding-right: 0
    padding-left: 0

.list-posts
  width: 100%

  > .item + .item
    margin-top: $pd--l

.sidebar-posts
  width: 100%

@media screen and (min-width: $bp--mn)
  .section-posts
    .section-hero + &
      margin-top: -18vh

  .list-posts
    width: auto
    flex: 1 1 540px

  .sidebar-posts
    flex: 0 1 320px
    width: auto
    margin-left: 2%
