@import _variables
@import _mixins

.section-banner
  position: relative
  z-index: $z--mid

  &::after
    +angled($co--green, both)

.content-banner
  +cont--xl
  +block-pad
  text-align: center

  > .title
    +heading-light
    +header-default
    color: $co--wt

.list-banner
  +inline-children-item

  > .item
    position: relative
    box-sizing: content-box

    > img
      max-width: 200px
      max-height: 50px
      margin: 0 auto
