@import _variables
@import _mixins

.banner-section
  position: relative
  text-align: center
  z-index: $z--mid

  &::after
    +angled($co--green, both)

  h1
    font-weight: 300

  ul
    display: flex
    align-items: center
    justify-content: space-between
