@import _variables
@import _mixins

.banner-section
  position: relative
  z-index: $z--mid

  &::after
    +angled($co--green, both)

.logo-block
  +cont--xl
  text-align: center

  > .header
    font-weight: 300

  > .logos
    +inline-children($pd--s)
