@import _tools

.block-message
  font-size: $fs--xxs
  font-weight: 300
  line-height: $lh--lg
  position: relative
  margin: $pd--s 0
  padding: $pd--s 3 * $pd--s $pd--s $pd--s
  color: $co--wt

  &:first-child
    margin-top: 0

  &.-error
    background-color: $co--error

  &.-success
    background-color: $co--success

  > .error
    font-weight: 700

  > .close
    display: block
    font-size: 3em
    position: absolute
    top: 50%
    right: $pd--s
    transform: translateY(-50%) scaleX(1) rotate(0deg)
    cursor: pointer
    transition: transform $tr--m

    &:hover
      transform: translateY(-50%) scale(1.1) rotate(540deg)
