@import tools

.main-message
  font-size: $fs--xxs
  line-height: $lh--lg
  position: relative
  margin: $pd--s 0
  padding: $pd--s 3 * $pd--s $pd--s $pd--s
  color: $co--wt

  &:first-child
    margin-top: 0

  &.-error
    background-color: $co--error

  &.-success
    background-color: $co--success

  > .error
    font-weight: 700

  > .close
    font-size: 3em
    position: absolute
    top: 50%
    right: $pd--s
    transform: translateY(-50%) rotate(0deg)
    cursor: pointer
    transition: transform $tr--m

    &::after
      content: '\00d7'

    span
      +sr-only

    &:hover
      transform: translateY(-55%) rotate(540deg)
