@import _tools

.avatar
  +bg-cover
  background-color: $co--blue-grey
  flex: none

  > .image
    +sr-only

._bgimg,
._bgimgfull
  +stretch
  +bg-cover

  > .image
    +sr-only

._bgimg
  z-index: $z--under

._bgimgfull
  opacity: 0

  &.-loaded
    transition: opacity $tr--s
    opacity: 1
