@import tools

.avatar
  +bg-cover
  background-color: $co--blue-grey
  flex: none

  > .image
    +sr-only

._bgimg
  +stretch
  z-index: $z--under

  > .image
    +sr-only

._bgimgpreview,
._bgimgfull
  +stretch
  +bg-cover

._bgimgfull
  opacity: 0
  transform: scale(0.97)
  transition: opacity $tr--s, transform $tr--s

  &.-loaded
    transform: scale(1)
    opacity: 1
