@import _variables
@import _mixins

.avatar
  +bg-cover
  background-color: $co--blue-grey
  flex: none

  > .image
    +sr-only

._bgimg
  +stretch
  +bg-cover
  z-index: $z--under
  transition: transform $tr--s

  > .image
    +sr-only
